   *{
            margin:0;
            padding:0;
            box-sizing:border-box;
        }

        body{
            height:100vh;
            display:flex;
            justify-content:center;
            align-items:center;
            background:
            linear-gradient(
                rgba(0,0,0,0.6),
                rgba(0,0,0,0.6)
            ),
            url('/images/pharma-banniere.jfif');
            background-size:cover;
            background-position:center;
            overflow:hidden;
        }

        /* =========================
           LOGIN CARD
        ========================== */

        .login-card{
            width:420px;
            background:rgba(255,255,255,0.12);
            backdrop-filter:blur(12px);
            border-radius:20px;
            padding:40px;
            box-shadow:
            0 8px 32px rgba(0,0,0,0.3);
            color:white;
            animation:fadeIn 1.5s ease;
        }

        /* =========================
           TITLE
        ========================== */

        .login-title{
            text-align:center;
            margin-bottom:30px;
        }

        .login-title h2{
            font-weight:bold;
            font-size:2rem;
        }

        .login-title p{
            color:#ddd;
        }

        /* =========================
           INPUT GROUP
        ========================== */

        .input-group-text{
            background:#198754;
            color:white;
            border:none;
        }

        .form-control{
            height:50px;
            border:none;
        }

        .form-control:focus{
            box-shadow:none;
            border:2px solid #198754;
        }

        /* =========================
           BUTTON
        ========================== */

        .btn-login{
            width:100%;
            height:50px;
            font-size:18px;
            font-weight:bold;
            border-radius:10px;
        }

        /* =========================
           LINKS
        ========================== */

        .login-links{
            text-align:center;
            margin-top:20px;
        }

        .login-links a{
            color:#fff;
            text-decoration:none;
            font-weight:bold;
        }

        .login-links a:hover{
            color:#0d6efd;
        }

        /* =========================
           ANIMATION
        ========================== */
        @keyframes fadeIn{
            from{
                opacity:0;
                transform:translateY(-40px);
            }
            to{
                opacity:1;
                transform:translateY(0);
            }
        }
        /* =========================
           SHOW PASSWORD
        ========================== */

        .password-toggle{
            cursor:pointer;
        }
